footer
  .container.container-fixed
    .row
      .col-md-12.col-xs-12
        .social-icons-footer
          a.tw(href='https://twitter.com/barcampam', target='_blank' )
            i.fa.fa-twitter
          a.fb(href='https://www.facebook.com/barcampevn?fref=ts', target='_blank')
            i.fa.fa-facebook-official
          a.android(href='https://play.google.com/store/apps/details?id=com.barcampevn', target='_blank')
            i.fa.fa-android
