footer
  .container.container-fixed
    .row
      .col-md-12.col-xs-12
        .social-icons-footer
          a.tw(href='https://www.twitter.com', target='_blank' )
            i.fa.fa-twitter
          a.fb(href='https://www.facebook.com', target='_blank')
            i.fa.fa-facebook-official
