nav.navbar.navbar-static-top
  .container.container-fixed
    a.home_link(ui-sref='home')
    ul.nav.navbar-nav.social-icons
      li
        a.btn.btn-link(href='https://twitter.com/barcampam', target='_blank')
          i.fa.fa-twitter
      li
        a.btn.btn-link(href='https://www.facebook.com/barcampevn?fref=ts', target='_blank')
          i.fa.fa-facebook-official
      //li
        a(href='#')
          i.fa.fa-instagram
    ul.nav.navbar-nav.lang
      li
        a.btn.btn-link.active(href='javascript:void(0)', role="button") eng
      li
        a.btn.disabled(href='javascript:void(0)', role="button") arm
    ul.nav.navbar-nav.navbar-right.navigation(role='navigation')
      li
        a(ui-sref='home', ui-sref-active="active") home
      li
        a(ui-sref='archive.year({ year: 2013 })', ui-sref-active="active") archive
      li
        a(ui-sref='faq', ui-sref-active="active") faq
      li
        a(href='https://www.tumblr.com/login?redirect_to=%2Fblog%2Fbarcampam', target='_blank') blog
      li
        a(ui-sref='about', ui-sref-active="active") about
.clearfix
.main-logo
