nav.navbar.navbar-static-top
  .container.container-fixed
    ul.nav.navbar-nav.social-icons
      li
        a(href='#')
          i.fa.fa-twitter
      li
        a(href='#')
          i.fa.fa-facebook-official
      //li
        a(href='#')
          i.fa.fa-instagram
    ul.nav.navbar-nav.lang
      li
        a(href='#') eng
      li
        a.active(href='#') arm
    ul.nav.navbar-nav.navbar-right.navigation
      li
        a.active(ui-sref='home') home
      li
        a(href='javascript:void(0)') archive
      li
        a(ui-sref='faq') faq
      li
        a(href='javascript:void(0)') blog
      li
        a(href='javascript:void(0)') about
.clearfix
