nav.navbar.navbar-static-top
  .container.container-fixed
    ul.nav.navbar-nav.social-icons
      li
        a.btn.btn-link(href='https://twitter.com/barcampam', target='_blank')
          i.fa.fa-twitter
      li
        a.btn.btn-link(href='https://www.facebook.com/barcampevn?fref=ts', target='_blank')
          i.fa.fa-facebook-official
      //li
        a(href='#')
          i.fa.fa-instagram
    ul.nav.navbar-nav.lang
      li
        a.btn.btn-link(href='javascript:void(0)', role="button", ng-click='main.changeLang("en")', ng-class='{"active disabled": main.getLang() == "en"}') eng
      li
        a.btn.btn-link(href='javascript:void(0)', role="button", ng-click='main.changeLang("hy")', ng-class='{"active disabled": main.getLang() == "hy"}') arm
    ul.nav.navbar-nav.navbar-right.navigation(role='navigation')
      li
        a(ui-sref='home', ui-sref-active="active", translate='home.title')
      li
        a(href='javascript:void(0)', translate='archive.title')
      li
        a(ui-sref='faq', ui-sref-active="active", translate='faq.title')
      li
        a(href='javascript:void(0)', translate='blog.title')
      li
        a(ui-sref='about', ui-sref-active="active", translate='about.title')
.clearfix
.main-logo
