html, body {
  height: 100%;
}

.link {
  cursor: pointer;
}
.margin-top-184 {
  margin-top: 184px;
}

.margin-top-120 {
    margin-top: 120px;
}
.m-t-10 {
    margin-top: 10px !important;
}
.m-r-10 {
    margin-right: 10px;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.address-inline {
    display: inline;
    color: #666;
    font-size: 14px;
    line-height: 39px;

    &:hover {
        text-decoration: none;
    }
}

body {
  //min-width: 970px;
  font-family: HelveticaNeueLTPro, Arial, sans-serif;
  color: #666666;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  outline: 0;
}
.main-content {
  margin-top: 10px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -220px;
}
.btn.disabled {
  opacity: 0.9;
}

.container-fixed {
  //width: 970px;
  margin: 0 auto;
}
#navbar {
    width: 100%;
    background: #2C3D50;

    ul {
        width: 100%;

        li {
            &:hover {
                background-color: #2C3D50;
            }
            display: block;
            width: 100%;
            text-align: center;

            a {
                color: #eeeeee;

            }
        }
    }
}
.navbar {
  min-height: 30px;
  margin-bottom: 0;
  height: 30px;

  .menu-btn {
      button {
          margin: 0;
          .icon-bar {
              background-color: #000000;
              height: 4px;
              border-radius: 4px;
          }
      }
  }

  li a {
    padding: 10px;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    &.active {
      color: #999999;
    }
    &:hover, &:focus {
      background-color: #fff;
    }
  }
  .social-icons {
    margin-left: 160px;
    a {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .lang {
    margin-left: 25px;
    a {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}

@keyframes slideUp {
    0% { height: auto }
    100% {height: 0 !important;}
}

.slideUp {
    animation-duration: 100ms;
    animation: slideUp;
    display: none !important;
}

.main-logo {
  background: url("/build/assets/images/2016/bc_2016.header.png") 50% 100% no-repeat;
  background-size: cover;
  height: 386px;
  width: 100%;
}

h1 {
  font-size: 72px;
  color: #003366;
  line-height: 43px;
  font-weight: 300;
}

h2 {
  color: #999999;
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
}

.main-menu {
  h2 {
    // margin-top: 145px;
    width: 470px;
  }
  h1 {
    margin-top: 33px;
  }

}
.build {
  width: 100%;
  position: relative;
  z-index: -1;
  margin-top: -120px;
  margin-bottom: 60px;
}

.size-60-responsive {
    font-size: 60px;
}

.color-black {
    color: #000000;
}

.schedule-container-xs {
    .room {
        color: black;
    }
    .to-full-schedule {
        font-size: 36px;
        font-weight: 700;
        display: inline-block;
        color: #003366;
        line-height: 43px;
        margin: 40px 0;
    }
    .mobile-schedules {
        height: 243px;;
    }
}
.register {
  background-color: $pink;
  background-repeat: repeat-x;
  height: 151px;
  background-position: 50% 100%;

  h1 {
    margin-top: 60px !important;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    line-height: 40px;
  }
  a, button {

    margin-top: 43px;
    display: inline-block;
    vertical-align: middle;
    height: 75px;
    //width: 40%;
    overflow: hidden;

    span {
        display: block;
        font-size: 32px;
        margin-top: 9px;
        padding: 0 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: normal;
    }
  }
}

.display-none {
    display: none;
}

.display-auto {
    display: auto !important;
}

.special-guests {
  ul {
    padding: 0;
  }

  h1 {
    font-size: 60px;
    font-weight: 700;
    color: #2c3e50;
    line-height: 36px;
    margin-top: 80px;
    margin-bottom: 70px;
  }

  li {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 293px;
    height: 260px;
    list-style: none;
    position: relative;
    .logo {
      width: 293px;
      height: 179px;
      display: table-cell;
      vertical-align: middle;
    }
    @include transition(all, 3s, ease);
    img {
      @include border-radius(5px);
      //background-color: #ECF0F1;
      max-width: 180px;
     max-height: 179px;
      display: block;
    }
    h3 {
      font-size: 16px;
      font-weight: 700;
      color: #003366;
      line-height: 18px;
      margin-top: 40px;
      margin-bottom: 8px;
    }
    hr {
      margin-top: 12px;
      margin-bottom: 4px;
    }
    .address {
      a {
        display: block;
        color: #666;
        font-size: 14px;
        line-height: 39px;
        &:hover {
          text-decoration: none;
        }
      }
      span {
        line-height: 11px;
      }
    }
    .user-hover {
      text-align: center;
      display: none;
      position: absolute;
      background-color: #C00;
      top:0;
      left: 0;
      width: 180px;
      height: 179px;
      opacity: 0.8;
      @include border-radius(5px);
      .social-icons {
        display: inline-block;
       margin-top: 63px;
        a {
          display: block;
          float: left;
          padding: 10px;
        }
        .fa {
          font-size: 34px;
          color: #fff;
        }
      }
    }
    &:hover {
      .user-hover {
        display: block;
        @include transition(all, 3s, ease);
      }
    }
  }
  p {
    strong {
      font-weight: 700;
    }
    line-height: 21px;
    font-weight: 400;

  }
}

.strong {
  font-weight: 700;
}

.social-icons {
  .fa {
    font-size: 20px;
    color: #003366;
  }
}

.social-icons-footer {
  margin-top: 20px;
  margin-left: 80px;
  .fa {
    margin-top: 72px;
    margin-left: 72px;
    font-size: 56px;
    color: #fff;
  }

  a {
    display: block;
    float: left;
    height: 200px;
    width: 200px;
  }
  .fb {
    background-color: #036;
  }
  .tw {
    background-color: #69c;
  }
  .android {
    background-color: #97C024;
  }

}

.lang {
  a {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    text-transform: uppercase;

    color: #000000;
    &.active {
      color: #999999;
    }
  }
}

.btn-orange {
  background-color:  #F60;
  @include border-radius(6px);
  font-weight: 400;
  line-height: normal;
  color: #fff;
  font-size: 17px;
  min-width: 213px;
  min-height: 46px;
  padding-top: 10px;
  border-color: #F60;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}

footer, .push {
  height: 220px;
}

footer {
  background: url("/build/assets/images/footer-bg.jpg") 50% 100% no-repeat;
  height: 220px;
  width: auto;
}
.as-participant {
    label {
        color: #fff;
        margin-bottom: 10px;
    }
}

.bg-cream {
    background-color: #ebd6a8;
}
.bg-orange {
    background-color: #f7971d;
}

.bg-blue {
    background-color: #90bdc8;
}

.color-white {
    color: #fff !important;
}
.margin-left-25 {
    margin-left: 25px;
}

.contact-with-us {
    .contacts-bg {
        background-color: #2C3E50;
        height: 364px;
        width: 100%;
        position: relative;
    }
    .map-canvas {

        map {
            top:0;
            right: 0;
            position: absolute;
            width: 50%;
            height: 364px;
        }
    }

    margin-top: 60px;
    height: 364px;
    .get-in-touch {
        margin-top: 86px;
        p {
            margin-bottom: 25px;
        }
    }

    h2 {
        font-size: 30px;
        color: #fff;
        line-height: 36px;
        font-weight: 300;
        margin-bottom: 17px;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        color: #ccc;
        line-height: 26px;
    }
    a {
        font-size: 16px;
        font-weight: 700;
        line-height: 31px;
        display: block;
        color: #fff;
        margin-top: 10px;
        &:hover, &:focus {
            text-decoration: none;
            color: #F90;
        }
    }
    .fa-phone, .fa-envelope {
        font-size: 25px;
        color: #F90;
        margin-right: 25px;
    }

}
.btn-send-email {
    background-color: #F90;
    border-color: #F93;
    margin-top: 40px;
    width: 120px;

    &:active, &:focus {
        background-color: #F90;
        border-color: #F93;
    }

    &:hover {
        border-color: #F93;
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -ms-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms;
        background-color: #F93;
    }
}

img {
   &.width-80-p {
       width: 80%;
   }

    &.width-70-p {
        width: 70%;
    }
    &.width-60-p {
        width: 60%;
    }
    &.width-50-p {
        width: 50%;
    }
}

.line-height-60 {
    line-height: 60px !important;
}

.video-wrapper {

    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.special-guests.sponsors {
  h3 {
    margin-top: 18px;
  }
  hr {
    margin-top: 5px;
  }
  margin-bottom: 60px;
  .user-hover {
    background-color: #525252;
  }

}

.bg-crimson-red {
  background-color: #900;
}
.bg-blaze-orange {
  background-color: #F60;
}

.bg-feldgrau {
  background-color: #4e6161;
}

.pdl0 {
  padding-left: 0 !important;
}
.pdr0 {
  padding-right: 0 !important;
}

.schedule {
  margin-top: 0px;

  h1 {
    margin-top: 0px;
  }
}

.schedule-container {
  //min-width: 1242px;
  .table {
    //width: 1212px;
    thead {
      th {
        padding-left: 12px;
        border-bottom: 0;
        padding-bottom: 0;
        text-transform: uppercase;
      }
      tr {
        height: 94px;
        color: #000000;
        font-size: 36px;
        font-weight: bold;
        line-height: normal;
      }
    }

    tbody {
    td {
      padding-left: 17px;
      border-right: 1px solid #fff;
      border-top: none;
      @include size(242px, 242px);
      position: relative;
      z-index: 1;
      h2, .time {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 36px;
        font-weight: 300;
        color: #fff;
        line-height: normal;
        text-transform: uppercase;
      }
      .topic, .creator {
        font-size: 18px;
        line-height: normal;
        font-weight: 700;
        color: #fff;
        margin-top: 16px;
      }
      p {
        margin-bottom: 20px;
      }
      .title {
        position: relative;
        z-index: 111;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
    .no-shcedule {
      h2 {
        color: #000000;
      }
    }
    .schedule-img {
      position: absolute;
      z-index: 11;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        @include size(100%, 100%);
        opacity: 0.5;
      }
    }
  }

  .to-full-schedule {
    margin-left: 20px;
    margin-bottom: 65px;
    a {
      font-size: 36px;
      font-weight: 700;
      color: #003366;
      line-height: 43px;
    }

  }


}

#map-canvas {
  width: 500px;
  height: 400px;
  background-color: #CCC;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.home_link {
    position: absolute;
    top: 74px;
    width: 454px;
    height: 151px;
    left: auto;
}

h1.reg-title-hy {
  font-size: 40px;
}
