$font-family-sans-serif:  HelveticaNeueLTPro, Arial, sans-serif;
$font-family-serif:       HelveticaNeueLTPro, Arial, sans-serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   HelveticaNeueLTPro, Arial, sans-serif;
$font-family-base:        HelveticaNeueLTPro, Arial, sans-serif;
$grid-float-breakpoint:  0;
$input-border: #a6a6a6;
$input-color-placeholder: #a6a6a6;
