.archive {
	margin-top: 0px;

	h1 {
		margin-top: 0px;
		margin-bottom: 79px;
	}


	.year-links {
	  border-bottom: 2px solid #ebedee;
	  margin-bottom: 66px;
	  a {
		margin-left: 10px;
		margin-right: 41px;
		padding-left: 0px;
		padding-right: 0px;
	    padding-top: 18px;
	    padding-bottom: 14px;
	    position: relative;
	    font-size: 36px;
	    color: #666666;
	    font-weight: 700;
	    &.selected {
	      color: #003366;
	    }
	    &:hover, &:focus {
	      text-decoration: none;
	    }
	  }
	  .circle {
	    position: absolute;
	    left: 37px;
	    bottom: -7px;
	    background-color: #666666;
	    width: 10px;
	    height: 10px;
	    border-radius: 50%;
	    -webkit-border-radius: 50%;

	  }
	  .selected .circle {
	    background-color: #003366;;
	  }

	}

	.archive-year {
		h2 {
			color: #2c3e50;
			font-size: 60px;
			font-weight: 700;
			line-height: 60px;
			margin-bottom: 60px;

			.year-img {
				height: 104px;
				margin-right: 30px;
			}
		}
	}
	.text {
		margin-bottom: 80px;
        a {
            padding-left: 3px;
            padding-right: 3px;
        }
		h3 {
			color: #2c3e50;
			font-size: 18px;
			font-weight: 700;
			line-height: 36px;
			margin: 0px;
		}

		p {
			color: #2c3e50;
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 20px;

		}

		p.guests {
			margin-bottom: 23px;
			margin-top: 28px;
		}

		a {
			color: #336699;
			font-size: 18px;
			line-height: 28px;
			text-decoration: none;

			&:hover {
				color: #003399;
			}
			&:active {
				color: #003399;
			}
		}
	}
	.video {
		margin-bottom: 80px;

		h2 {
			color: #2c3e50;
			font-size: 30px;
			font-weight: 700;
			line-height: 30px;
			margin-bottom: 36px;
			margin-top: 0px;
		}
	}
	.imgs {
		margin-bottom: 80px;

		h2 {
			color: #2c3e50;
			font-size: 30px;
			font-weight: 700;
			line-height: 30px;
			margin-bottom: 36px;
			margin-top: 0px;
		}

		.img-tmb {
			box-sizing: content-box;
			float: left;
			height: 108.5px;
			padding-right: 10px;
			padding-bottom: 10px;
			width: 108.5px;

			&:nth-child(8n) {
				padding-right: 0px;
			}
			&:last-child {
				margin-bottom: 80px;
			}

			img {
				width: 100%;
			}
		}
	}
}

.mrg-bottom25 {
    margin-bottom: 25px;
}
