.faq {

  h1 {
    margin-top: 0px;
    margin-bottom: 37px;
  }

  .faq-content {
    margin-top: 30px;
    min-width: 970px;
  }
  ul {
    margin-top: 57px;
    padding-left: 0;
    li {
      list-style-type: none;
      margin-bottom: 40px;
      max-width: 859px;
    }
    &:last-child {
      margin-bottom: 65px;
    }
  }
  h3 {
    font-size: 26px;
    font-weight: 700;
    color: #2c3e50;
    line-height: 36px;
  }
  p {
    font-size: 18px;
    line-height: normal;
    color: #2c3e50;
  }

  .send-question {
    hr {
      border-top: 2px solid #ebedee;
      margin-bottom: 66px;
    }

    form {
      margin-top: 32px;

      input, textarea {
        border: 1px solid #a6a6a6;
        border-radius: 3px;
        font-size: 16px;
        outline: none;
        padding: 21px;
      }

      input {
        height: 64px;
        width: 457px;

        &:focus {
          border: 1px solid #003366;
        }
      }

      textarea {
        height: 164px;
        margin-top: 24px;
        max-width: 100%;
        min-height: 164px;
        min-width: 100%;
        width: 100%;

        &:focus {
          border: 1px solid #003366;
        }
      }

      button {
        background-color: #ff6600;
        border: none;
        border-radius: 6px;
        color: #ffffff;
        cursor: pointer;
        font-size: 17px;
        height: 45px;
        line-height: 45px;
        margin-top: 49px;
        outline: none;
        width: 213px;
      }

      .mes-box {
        height: 195px;
        margin-top: 49px;

        .faq-success {
          color: #003366;
          display: block;
          font-size: 18px;
          line-height: 45px;
        }

        .faq-error {
          color: #cc0000;
          display: block;
          font-size: 18px;
          line-height: 45px;
        }

        .faq-invalid {
          color: #cc0000;
          display: none;
          font-size: 18px;
          line-height: 45px;
        }
      }
    }

    .ng-invalid.ng-submitted {
      input.ng-invalid {
        border: 1px solid #cc0000;
      }

      textarea.ng-invalid {
        border: 1px solid #cc0000;
      }

      .mes-box {
        .faq-invalid {
          display: block;
        }
      }
    }
  }
}

.empty-content {
  height: 150px;
}
