@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../assets/fonts/HelveticaNeueLTPro-Roman.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/HelveticaNeueLTPro-Roman.otf')  format('opentype'),
  url('../assets/fonts/HelveticaNeueLTPro-Roman.woff') format('woff'),
  url('../assets/fonts/HelveticaNeueLTPro-Roman.ttf')  format('truetype'),
  url('../assets/fonts/HelveticaNeueLTPro-Roman.svg#HelveticaNeueLTPro-Roman') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../assets/fonts/HelveticaNeueLTPro-Md.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/HelveticaNeueLTPro-Md.otf')  format('opentype'),
  url('../assets/fonts/HelveticaNeueLTPro-Md.woff') format('woff'),
  url('../assets/fonts/HelveticaNeueLTPro-Md.ttf')  format('truetype'),
  url('../assets/fonts/HelveticaNeueLTPro-Md.svg#HelveticaNeueLTPro-Md') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../assets/fonts/HelveticaNeueLTPro-Lt.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/HelveticaNeueLTPro-Lt.otf')  format('opentype'),
  url('../assets/fonts/HelveticaNeueLTPro-Lt.woff') format('woff'),
  url('../assets/fonts/HelveticaNeueLTPro-Lt.ttf')  format('truetype'),
  url('../assets/fonts/HelveticaNeueLTPro-Lt.svg#HelveticaNeueLTPro-Lt') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../assets/fonts/HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/HelveticaNeueLTPro-Bd.otf')  format('opentype'),
  url('../assets/fonts/HelveticaNeueLTPro-Bd.woff') format('woff'),
  url('../assets/fonts/HelveticaNeueLTPro-Bd.ttf')  format('truetype'),
  url('../assets/fonts/HelveticaNeueLTPro-Bd.svg#HelveticaNeueLTPro-Bd') format('svg');
  font-weight: 700;
  font-style: normal;
}



