$xs-size: 768px;
$md-size: 992px;
$lg-size: 1200px;

// extra small
@media (max-width: $xs-size) {

    .livestream-title {
        font-size: 40px !important;
    }
    h2 {
        font-size: 34px !important;
    }
    .feedback {
        font-size: 20px !important
    }

    .map-canvas {
        map {
            height: 250px !important;
        }
    }

    .btn-registration {
        float: none !important;
    }
    .text-center-xs {
        text-align: center;
    }
    .width-auto-xs {
        width: auto !important;
    }
    .special-guests {
        h1 {
            font-size: 40px !important;
        }
        li {
            .logo {
                display: inline-block !important;

                img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    .navbar {
        .social-icons {
            margin-left: 0 !important;
        }
    }
    .navbar-toggle {
        display: block;
    }
    .no-padding-xs {
        padding: 0;
    }
    .register {
        a {
            width: 100% !important;
            span {
                margin-top: 12px !important;
                font-size: 21px !important;
            }
        }
    }
    .display-block-xs {
        display: block;
    }
}
// small
@media (min-width: $xs-size) {
    .font-size-13-sm {
        font-size: 13px !important;
    }
    .register {
        a {
            width: 50% !important;
        }
    }
}
// medium
@media (max-width: $md-size) {

    form[name="questionForm"] {
        input {
            width: 100% !important;
            float: none;
            margin-bottom: 40px;
        }
    }

    .navbar {
        .social-icons {
            margin-left: 0!important;
        }
    }
    .font-size-13-md {
        font-size: 13px !important;
    }

    .register {
        a {
            span {
                margin-top: 0;
            }
        }
    }
}

@media (max-width: $lg-size) {
    //.register {
    //    a {
    //        width: 40% !important;
    //    }
    //}
}

// large
@media (min-width: $lg-size) {
}
