.timetable-container {
  //min-width: 1248px;
}

.to-center {
    margin-left: 9%;
}

.timetable {

    .scheduled-room {
        width: 202px;
        min-height: 252px;
        padding: 12px;
        margin: 1px;
        position: relative;
        margin-left: 0;
    }

  h1 {
    margin-bottom: 50px;
  }
  //min-width: 1215px;
  .table-time, ._big_hall, ._208e, ._213w, ._114w, ._113w, ._315e, ._215e {
  padding-left: 0;
  float: left;
  list-style-type: none;

    li  {
      width: 202px;
      min-height: 252px;
      padding: 12px;
      margin: 1px;
      position: relative;
      margin-left: 0;
    }

    .completed {
      text-align: center;
      top:0;
      width: 202px;
      position: absolute;
      background-color: #ebd6a8 !important;
      border: 1px solid #bebebe;
      min-height: inherit;
      z-index: 111;
      display: table;
    }
    .completed:after {
        content: '';
        position: absolute;
        right: 0;
        top:0;
        width: 0;
        height: 0;
        border-top: 13px solid #bebebe;
        border-left: 13px solid transparent;
     }

  }

  .table-content {
    display: table-cell;
    vertical-align: middle;
    p {
      margin-bottom: 10px;
    }
    .creator {
      //margin-top: 15px;
    }
  }
  .timetable-room {
    list-style-type: none;
    padding-left: 0;
    li {
      padding-left: 12px;
      margin: 1px;
      width: 202px;
      //border-bottom: 16px solid #990000;
      font-size: 30px;
      color: #000000;
      font-weight: 700;
      text-transform: uppercase;
      float: left;
      margin-left: 0;
      margin-bottom: 0;

    }
  }

  .table-time {
    li {
      text-align: center;
      background-color: #ff6600;
      height: 252px;
      font-size: 26px;
      color: #fff;
      font-weight: 700;
      margin-left: 0;
      display: table;
      span {
        display: table-cell;
        vertical-align: middle;
      }
    }

  }
  ._big_hall, ._208e, ._213w, ._113w, ._114w, ._315e, ._215e {
    position: relative;
    p {
      font-size: 12px;
      font-weight: 700;
      color: #003366;
      line-height: normal;
    }
    .time {
      font-size: 12px;
      color: #666666;
      font-weight: 400;
      text-transform: uppercase;
      line-height: normal;
    }
    .creator {
      font-size: 12px;
      color: #666666;
      font-weight: 700;
      line-height: normal;
    }

    li {
      //background-color: #efefef;
    }

  }

    .rate {
        iframe {
            width: 80px;
            height: 20px;
            border: 0;
        }
    }
}

.day {
  border-bottom: 2px solid #ebedee;
  margin-bottom: 66px;
  a {
    padding-top: 18px;
    padding-bottom: 14px;
    position: relative;
    font-size: 36px;
    color: #666666;
    font-weight: 700;
    &.selected {
      color: #003366;
    }
    &:hover, &:focus {
      text-decoration: none;
      color: #003366;
      .circle {
        background-color: #003366;
      }
    }
  }
  .circle {
    position: absolute;
    left: 50px;
    bottom: -7px;
    //@include size(10px, 10px);
    //@include border-radius(50%);
    background-color: #666666;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;

  }
  .selected .circle {
    background-color: #003366;;
  }

}

.empty {
  height: 360px;
}

.schedule-modal {
    min-width: 600px !important;
    h1 {
        font-size: 60px;
    }

    .control-label {
        color: #2c3e50;
    }

    .btn-primary  {
        background-color: #ff6600;
        border-color: #ff6600;
    }

    .modal-body img {
        width: 242px;
        height: 242px;
    }

}

.modal-backdrop.am-fade {
    opacity: 0.4;

}
