doctype html
html(lang='en', ng-app='barcamp')
  head
    title Barcamp
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name='description', content='Most wanted event')
    link(rel="apple-touch-icon", sizes="57x57", href="/build/assets/images/favicons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/build/assets/images/favicons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/build/assets/images/favicons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/build/assets/images/favicons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/build/assets/images/favicons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/build/assets/images/favicons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/build/assets/images/favicons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/build/assets/images/favicons/apple-touch-icon-152x152.png")
    link(rel="icon", type="image/png", href="/build/assets/images/favicons/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/build/assets/images/favicons/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/build/assets/images/favicons/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/build/assets/images/favicons/manifest.json")
    link(rel="mask-icon", href="/build/assets/images/favicons/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="apple-mobile-web-app-title", content="Barcamp")
    meta(name="application-name", content="Barcamp")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-TileImage", content="/build/assets/images/mstile-144x144.png")
    meta(name="theme-color", content="#ffffff")
    link(rel='stylesheet', type='text/css', href='/vendor/font-awesome/css/font-awesome.css')
    link(rel="stylesheet", href="/vendor/blueimp-bootstrap-image-gallery/css/bootstrap-image-gallery.min.css")
    link(rel='stylesheet', type='text/css', href='/build/css/app.css')

    body(ng-controller='MainController as main')
    .main-content
      include includes/header
      .main.margin-top-120(ui-view)
    .push
    include includes/footer
    // scripts
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/moment/moment.js')
    script(src='/vendor/angular/angular.js')
    script(src='/vendor/angular-ui-router/release/angular-ui-router.js')
    script(src='/vendor/angular-route/angular-route.js')
    script(src='/vendor/angular-translate/angular-translate.js')
    script(src='/vendor/angular-moment/angular-moment.min.js')

    script(src='//maps.googleapis.com/maps/api/js')
    script(src='/vendor/ngmap/build/scripts/ng-map.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js')
    //script(src='/vendor/blueimp-gallery/js/jquery.blueimp-gallery.min.js')
    script(src='/vendor/blueimp-bootstrap-image-gallery/js/bootstrap-image-gallery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/build/js/app.js')
