doctype html
html(lang='en', ng-app='barcamp')
  head
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    title Barcamp
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', type='text/css', href='/vendor/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='/build/css/app.css')
    script(src='/vendor/sails.io.js/dist/sails.io.js')
    script(src='/vendor/angular/angular.js')
    script(src='/vendor/angular-ui-router/release/angular-ui-router.js')
    script(src='/vendor/angular-route/angular-route.js')
    script(src='/build/js/app.js')
  body
    .main-content
      include includes/header
      .main(ui-view)
      .push
    include includes/footer
