section.about
    .container.container-fixed
        h1(translate='about.title')
        ul
            li
                p(translate='about.imgTopText')
                img.we(src='/build/assets/images/we.jpg')
                p(translate='about.imgBottomText')
            li
                h3(translate='about.whatIsTheBarCampTitle')
                div(translate='about.whatIsTheBarCampText')
            li
                h3(translate='about.ourRegionTitle')
                div(translate='about.ourRegionText')
            li
                h3(translate='about.targetGroupTitle')
                p(translate='about.targetGroupText')


    .clearfix
