section.archive
	.container.container-fixed
		h1(translate='archive.title')

		.year-links
			a.btn.btn-link(ui-sref='archive.year({ year: 2014 })', ui-sref-active="selected")
				| 2014
				.circle
			a.btn.btn-link(ui-sref='archive.year({ year: 2013 })', ui-sref-active="selected")
				| 2013
				.circle
			a.btn.btn-link(ui-sref='archive.year({ year: 2012 })', ui-sref-active="selected")
				| 2012
				.circle
			a.btn.btn-link(ui-sref='archive.year({ year: 2011 })', ui-sref-active="selected")
				| 2011
				.circle
			a.btn.btn-link(ui-sref='archive.year({ year: 2010 })', ui-sref-active="selected")
				| 2010
				.circle
			a.btn.btn-link(ui-sref='archive.year({ year: 2009 })', ui-sref-active="selected")
				| 2009
				.circle



		.archive-year(ui-view='year')
