h2
    img.year-img(src='/build/assets/images/barcamp_2009-2012.jpg')
    | BarCamp Yerevan
.text
    p
        strong “BarCamp Yerevan 2010″
        |  was held on
        strong  June 4-6:
        |  A lot of young people shared their knowledge about modern technologies and introduced IT trends.
        | “BarCamp Yerevan 2010″ was sponsored by

        a(href='http://gov.am', target='_blank') The Government of Armenia,
        a(href='http://www.microsoft.am', target='_blank') Microsoft,
        a(href="http://http://www.icon.am") Icon Communications,
        a(href="http://http://www.ipsc.am", target='_blank') IPSC
        | and
        a(href="http://www.spms.am", target='_blank') SPMS.

.video
    h2 Videoreport about “BarCamp Yerevan 2010”

    iframe(width="940", height="627", src="https://www.youtube.com/embed/XB6R84ekUKM", frameborder="0", allowfullscreen)

.imgs
    //h2 Photoset from the event
