h2
    img.year-img(src='./build/assets/images/barcamp_2015.logo.png')
    | BarCamp Yerevan

.text(translate='archive.text2015')

.imgs
    h2(translate='archive.photoset')
    #links2015
        a.img-tmb(href='/build/assets/images/2015/1.jpg', data-gallery)
            img(src='/build/assets/images/2015/1.jpg')
        a.img-tmb(href='/build/assets/images/2015/2.jpg', data-gallery)
            img(src='/build/assets/images/2015/2.jpg')
        a.img-tmb(href='/build/assets/images/2015/3.jpg', data-gallery)
            img(src='/build/assets/images/2015/3.jpg')
        a.img-tmb(href='/build/assets/images/2015/4.jpg', data-gallery)
            img(src='/build/assets/images/2015/4.jpg')
        a.img-tmb(href='/build/assets/images/2015/5.jpg', data-gallery)
            img(src='/build/assets/images/2015/5.jpg')
        a.img-tmb(href='/build/assets/images/2015/6.jpg', data-gallery)
            img(src='/build/assets/images/2015/6.jpg')
        a.img-tmb(href='/build/assets/images/2015/7.jpg', data-gallery)
            img(src='/build/assets/images/2015/7.jpg')
        a.img-tmb(href='/build/assets/images/2015/8.jpg', data-gallery)
            img(src='/build/assets/images/2015/8.jpg')
        a.img-tmb(href='/build/assets/images/2015/9.jpg', data-gallery)
            img(src='/build/assets/images/2015/9.jpg')
        a.img-tmb(href='/build/assets/images/2015/10.jpg', data-gallery)
            img(src='/build/assets/images/2015/10.jpg')
        a.img-tmb.img-scale_bc2015(href='/build/assets/images/2015/11.jpg', data-gallery)
            