h2
    img.year-img(src='/build/assets/images/barcamp_2009-2012.jpg')
    | BarCamp Yerevan

.text(translate='archive.text2012')

.imgs
    h2(translate='archive.photoset')
    #links2012
        a.img-tmb(href='/build/assets/images/2012/1_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/1_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/2_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/2_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/3_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/3_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/4_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/4_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/5_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/5_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/6_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/6_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/7_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/7_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/8_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/8_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/9_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/9_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/10_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/10_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/11_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/11_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/12_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/12_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/13_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/13_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/14_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/14_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/15_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/15_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/16_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/16_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/17_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/17_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/18_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/18_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/19_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/19_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/20_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/20_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/21_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/21_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/22_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/22_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/23_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/23_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/24_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/24_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/25_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/25_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/26_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/26_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/27_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/27_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/28_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/28_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2012/29_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2012/29_tmb.jpg')










#blueimp-gallery.blueimp-gallery(data-use-bootstrap-modal="false")
    // The container for the modal slides
    .slides
    // Controls for the borderless lightbox
    h3.title
    a.prev ‹
    a.next ›
    a.close ×
    a.play-pause
    ol.indicator

