h2
    img.year-img(src='/build/assets/images/barcamp_2009-2012.jpg')
    | BarCamp Yerevan
.text
    p
        strong BarCamp Yerevan 2011
        |  took place on
        strong  June 4-5,
        |  in
        strong  American University of Armenia
        | (as during previous years):
        br
        | Our corporate sponsor was
        a(href='http://www.beeline.am', target='_blank') Beeline.
        | Our supporters were
        a(href='http://www.internews.am', target='_blank') Internews
        | media support NGO,
        a(href="http://www.deemcommunications.com") Deem Communications,
        a(href="http://www.panarmenian.net", target='_blank') PanARMENIAN.Net
        | and MOJO yogurt. This year we’ve invited some prominent
        a(href="http://mi3ch.livejournal.com", target='_blank') figures
        | from the IT and new media field, including representatives from the
        a(href="http://www.opera.com", target='_blank')
        | itself!
    p.guests  Special guests:
    h3 Artem Minaev
    p VimpelCom Head of PR Department, CIS. Author of the book “Internet as a way for projects promotion” issued in 2002 in Russian language.

    h3
        | Ekaterina Turtseva
        a(href='http://twitter.com/#!/turtseva', target='_blank') (@turtseva)
    P VimpelCom Brand Communications Manager

    h3
        | Dmitriy Chernyshev
        a(href='http://mi3ch.livejournal.com', target='_blank') (mi3ch)
    P Blogger, creative director of the “Souce” agency

    h3
        | Charles McCathieNevile
        a(href='http://my.opera.com/chaals/about', target='_blank') (chaals)
    P Opera Software Chief Standards Officer. Charles is an active promoter of the open web standards. He is responsible for their accessibility in all products of Opera. He actively participates in the W3C consortium’s committees and is the head of one of them (cross-platform applications)

    h3
        | Vladimir Isaev
        a(href='http://twitter.com/#!/c_nel', target='_blank') (@c_nel)
    P Opera Software Communications Manager

    h3
        | Adrianus Warmenhoven
        a(href='http://twitter.com/_adrianus_', target='_blank') (@_adrianus_)
    P Management, both technical and general. Development of departments, both technical and social. Downsizing (rightsizing) and expansion of departments.

    h3
        | Pooneh Ghoddoosi
        a(href='http://twitter.com/poopoosh', target='_blank') (@poopoosh)
    P BBC. In 2010 -2011, Pooneh managed a project that examined and promoted the effective utilisation of social media and user-generated content across BBC Global News.

.imgs
    h2 Photoset from the event
