h2
    img.year-img(src='/build/assets/images/09-11years_logo.jpg')
    | BarCamp Yerevan

.text(translate='archive.text2009')

.video(translate='archive.video2009').video-wrapper

.text(translate='archive.links2009')

.imgs
    h2(translate='archive.photoset')
    #links2009
        a.img-tmb(href='/build/assets/images/2009/1_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/1_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/2_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/2_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/3_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/3_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/4_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/4_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/5_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/5_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/6_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/6_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/7_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/7_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/8_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/8_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/9_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/9_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/10_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/10_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/11_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/11_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/12_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/12_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/13_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/13_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/14_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/14_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/15_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/15_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/16_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/16_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/17_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/17_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/18_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/18_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/19_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/19_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/20_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/20_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/21_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/21_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/22_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/22_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/23_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/23_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/24_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/24_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/25_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/25_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/26_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/26_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/27_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/27_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/28_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/28_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/29_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/29_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/30_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/30_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/31_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/31_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/32_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/32_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/33_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/33_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/34_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/34_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/35_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/35_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/36_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/36_tmb.jpg')


#blueimp-gallery.blueimp-gallery(data-use-bootstrap-modal="false")
    // The container for the modal slides
    .slides
    // Controls for the borderless lightbox
    h3.title
    a.prev ‹
    a.next ›
    a.close ×
    a.play-pause
    ol.indicator
