h2
    img.year-img(src='/build/assets/images/14_logo.jpg')
    | BarCamp Yerevan

.text(translate='archive.text2014')

.video(translate='archive.video2014').video-wrapper

.text(translate='archive.pic2014')

.video(translate='archive.video2014_2').video-wrapper

.text(translate='archive.links2014')
