h2
    img.year-img(src='/build/assets/images/barcamp_2009-2012.jpg')
    | BarCamp Yerevan
.text(translate='archive.text2010')

.video(translate='archive.video2010')

.imgs
    //h2 Photoset from the event
