h2
    img.year-img(src='/build/assets/images/barcamp_2009-2012.jpg')
    | BarCamp Yerevan
.text(translate='archive.text2011')

.imgs
    h2 Photoset from the event
    #links2011
        a.img-tmb(href='/build/assets/images/2011/1_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/1_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/2_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/2_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/3_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/3_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/4_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/4_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/5_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/5_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/6_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/6_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/7_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/7_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/8_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/8_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/9_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/9_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/10_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/10_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/11_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/11_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/12_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/12_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/13_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/13_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/14_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/14_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/15_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/15_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/16_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/16_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/17_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/17_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/18_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/18_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/19_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/19_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/20_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/20_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/21_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/21_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/22_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/22_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/23_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/23_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/24_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/24_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/25_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/25_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/26_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/26_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/27_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/27_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/28_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/28_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/29_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/29_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/30_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/30_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/31_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/31_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/32_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/32_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/33_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/33_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/34_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/34_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/35_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/35_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/36_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/36_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/37_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/37_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/38_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/38_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/39_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/39_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/40_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/40_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/41_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/41_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/42_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/42_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/43_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/43_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/44_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/44_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/45_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/45_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/46_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/46_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/47_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/47_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/48_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/48_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/49_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/49_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/50_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/50_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/51_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/51_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2011/52_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2011/52_tmb.jpg')



#blueimp-gallery.blueimp-gallery(data-use-bootstrap-modal="false")
    // The container for the modal slides
    .slides
    // Controls for the borderless lightbox
    h3.title
    a.prev ‹
    a.next ›
    a.close ×
    a.play-pause
    ol.indicator
