h2
    img.year-img(src='/build/assets/images/barcamp_2009-2012.jpg')
    | BarCamp Yerevan
.text
    p
        | First
        strong BarCamp Yerevan
        |  event took place on
        strong  April 17-19
        | in
        strong 2009:
        | More than 400 young people with different professional background took part in the event. The official tag of the event was #barcampevn09:
    p
        strong BarCamp Yerevan 2009
        | implemented with the sponsorship of
        a(href='http://www.osi.am', target='_blank') Open Society Institute Assistance Foundation Armenia,
        a(href='http://www.osce.org/yerevan', target='_blank') OSCE Office,
        a(href="http://www.icon.am") Icon Communications
        | and
        a(href="http://www.web.am", target='_blank') Web,
        a(href="http://www.internews.am", target='_blank') Internews Armenia.
.video
    h2 Video Stories form “BarCamp Yerevan 2009”
    iframe.mrg-bottom25(width="940", height="627", src="https://www.youtube.com/embed/fRYL_T1WuT0", frameborder="0", allowfullscreen)

    iframe(width="940", height="627", src="https://www.youtube.com/embed/OgoA2ygAWZ8", frameborder="0", allowfullscreen)

.imgs
    h2 Photoset from the event
    #links2009
        a.img-tmb(href='/build/assets/images/2009/1_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/1_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/2_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/2_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/3_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/3_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/4_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/4_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/5_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/5_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/6_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/6_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/7_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/7_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/8_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/8_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/9_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/9_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/10_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/10_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/11_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/11_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/12_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/12_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/13_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/13_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/14_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/14_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/15_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/15_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/16_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/16_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/17_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/17_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/18_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/18_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/19_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/19_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/20_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/20_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/21_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/21_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/22_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/22_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/23_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/23_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/24_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/24_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/25_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/25_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/26_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/26_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/27_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/27_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/28_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/28_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/29_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/29_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/30_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/30_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/31_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/31_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/32_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/32_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/33_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/33_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/34_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/34_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/35_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/35_tmb.jpg')
        a.img-tmb(href='/build/assets/images/2009/36_tmb_big.jpg', data-gallery)
            img(src='/build/assets/images/2009/36_tmb.jpg')


#blueimp-gallery.blueimp-gallery(data-use-bootstrap-modal="false")
    // The container for the modal slides
    .slides
    // Controls for the borderless lightbox
    h3.title
    a.prev ‹
    a.next ›
    a.close ×
    a.play-pause
    ol.indicator
