section.faq
  .container.container-fixed
    h1(translate='faq.title')
    h2(translate='faq.frequentlyAsked')
      br
      | questions
    ul(translate='faq.questions')

  .container-fluid.container-fixed.send-question
    hr
    h3(translate='faq.sendYourQuestion')

    form(name='questionForm', novalidate, ng-submit='questionForm.$valid && faq.send()')
      input.float-left(type='text', ng-model='name', placeholder='{{"faq.name" | translate}}', required)
      input.float-right(type='email', ng-model='email', placeholder='{{"faq.email" | translate}}', required)
      br
      textarea(ng-model='text', placeholder='{{"faq.typeYourQuestion" | translate}}', required)
      br
      .mes-box.float-left
        span.faq-success(ng-show='success == 1 && questionForm.$pristine', translate='faq.mesSuccess')
        span.faq-error(ng-show='success == 0', translate='faq.mesWrong')
        span.faq-invalid(ng-show='questionForm.$invalid', translate='faq.mesInvalid')
      button.float-right(type='submit', translate='faq.send')
  .clearfix
