section.faq
  .container.container-fixed
    h1(translate='faq.title')
    h2(translate='faq.frequentlyAsked')
    ul(translate='faq.questions')
  
  //.container-fluid.container-fixed.send-question
    hr
    h3 Send your question

    form(name='questionForm', novalidate, ng-submit='questionForm.$valid && faq.send()')
      input.float-left(type='text', ng-model='name', placeholder='name', required)
      input.float-right(type='email', ng-model='email', placeholder='email', required)
      br
      textarea(ng-model='text', placeholder='type your question', required)
      br
      .mes-box.float-left
        span.faq-success(ng-show='success == 1') Your question has been successfully submitted.
        span.faq-error(ng-show='success == 0') Oops, something went wrong. Please try again.
        span.faq-invalid(ng-show='questionForm.$invalid') Oops, invalid data.
      button.float-right(type='submit') Send
  .clearfix
.empty-content