section.faq
  .container.container-fixed
    h1 FAQ
    h2 Frequently asked
      br
      | questions
  .container.faq-content
    ul
      li
        h3 I have not received a confirmation email after registration. What should I do?
        p There are no confirmation emails after the registration. If you see the message "Thanks, your registration is complete" , it means that your  registration is confirmed
      li
        h3 Should I register, if I'm not planning to make a presentation?
        p Yes! Registration is desirable for all participants, including those, who only come to watch.
      li
        h3 Where is the timetable of the event. When should I come?
        p The BarCamp agenda is made by the participants themselves. Our timetable looks like this. There will be a blank timetable board in the corridor, where anyone can register the presentation they are planning to make. As always, this year we will have guest speakers from abroad, who will make their presentations in the Big Hall. The timetable of the Big Hall will be available on this website
      li
        h3 Can I come late or join the BarCamp only for one day?
        p Yes, you can.
      li
        h3 When will we get the badges?
        p When you come to BarCa
      li
        h3 Can I come and present a website that I've created?
        p Direct presentations of a website or a company are forbidden. We do not allow advertising of any type during the barcamp. Try to present an interesting technical solution, idea or topic that can teach something to the participants and feel free to use examples from your company or website. The key requirement is to make an interesting and/or useful presentation for the audience. Remember, our particiapants will "vote with their feet" and boring presentations will eventually end up facing an empty room. That's not something you'd want, would you?
      li
        h3 Who is the organizer of the event.
        p BarCamp is organized by independent people solely on volunteer basis. Internews Armenia and individuals, who work for various companies help in organizing the event. The Big Hall and several rooms at the American University of Armenia are rented for the purposes of holding a BarCamp. The general sponsor of this year's BarCamp is U!Com.
      li
        h3 Will presentations be filmed or broadcast online?
        p There will be live video streaming from all presentation rooms. The links to video streams will be available on our website.
      li
        h3 What formats should the presentations be in?
        p Bring .ppt presentations and make sure to use Unicode Armenian fonts (type your text using Sylfaen or Arian AMU fonts.
  .container-fluid.send-question
    .container.container-fixed
      h1.pull-left Send your question
      a.btn.btn-default.btn-orange.pull-right(href='mailto:barista@barcamp.am' ) Send
  .clearfix
.empty-content

