section.main-menu.build
    .container.container-fixed
        .row
            .col-md-6.col-xs-6
                h2(translate='home.mostWantedEvent')
                h1(ng-cloak, ng-hide='daysLeft <= 0', translate='home.dayToGo' translate-values="{value: daysLeft}")
            .col-md-offset-6.col-xs-offset-6
.clearfix
section.schedule(style='display:none')
    .container.container-fixed
        .row
            .col-md-12.col-xs-12
                h1 Schedule
                h2 We’ve created the product that
                    br
                    | will help your startup
    .container.schedule-container
        table.table
            thead
                tr
                    th room #204
                    th room #205
                    th room #206
                    th.pdr0.pdl0 small hall
                    th big hall
            tbody
                tr
                    td.bg-crimson-red
                        .schedule-img
                            img(src="/build/assets/images/schedule.jpg")
                        .title
                            h2 Now
                            .time
                                span 16:30
                                span  -
                                span 17:30
                            p.topic Speech recognition in Armenian language
                            .creator
                                span by &nbsp;
                                span Bill Murray
                    td.bg-crimson-red
                        //.schedule-img
                          img(src="/build/assets/images/schedule.jpg")
                        .title
                            h2 Now
                            .time
                                span 16:30
                                span  -
                                span 17:30
                            p.topic Speech recognition in Armenian language
                            .creator
                                span by &nbsp;
                                span Bill Murray
                    td.bg-crimson-red
                        //.schedule-img
                          img(src="/build/assets/images/schedule.jpg")
                        .title
                            h2 Now
                            .time
                                span 16:30
                                span  -
                                span 17:30
                            p.topic Speech recognition in Armenian language
                            .creator
                                span by &nbsp;
                                span Bill Murray
                    td.bg-crimson-red
                        //.schedule-img
                          img(src="/build/assets/images/schedule.jpg")
                        .title
                            h2 Now
                            .time
                                span 16:30
                                span  -
                                span 17:30
                            p.topic Speech recognition in Armenian language
                            .creator
                                span by &nbsp;
                                span Bill Murray
                    td.bg-crimson-red
                        .schedule-img
                            img(src="/build/assets/images/schedule.jpg")
                        .title
                            h2 Now
                            .time
                                span 16:30
                                span  -
                                span 17:30
                            p.topic Speech recognition in Armenian language
                            .creator
                                span by &nbsp;
                                span Bill Murray
                tr
                    td.bg-blaze-orange
                        //.schedule-img
                          img(src="/build/assets/images/schedule.jpg")
                        .title
                            h2 Now
                            .time
                                span 16:30
                                span  -
                                span 17:30
                            p.topic Speech recognition in Armenian language
                            .creator
                                span by &nbsp;
                                span Bill Murray
                    td.bg-blaze-orange
                        //.schedule-img
                          img(src="/build/assets/images/schedule.jpg")
                        .title
                            h2 Now
                            .time
                                span 16:30
                                span  -
                                span 17:30
                            p.topic Speech recognition in Armenian language
                            .creator
                                span by &nbsp;
                                span Bill Murray
                    td.bg-blaze-orange
                        .schedule-img
                            img(src="/build/assets/images/schedule.jpg")
                        .title
                            h2 Now
                            .time
                                span 16:30
                                span  -
                                span 17:30
                            p.topic Speech recognition in Armenian language
                            .creator
                                span by &nbsp;
                                span Bill Murray
                    td.bg-blaze-orange
                        //.schedule-img
                          img(src="/build/assets/images/schedule.jpg")
                        .title
                            h2 Now
                            .time
                                span 16:30
                                span  -
                                span 17:30
                            p.topic Speech recognition in Armenian language
                            .creator
                                span by &nbsp;
                                span Bill Murray
                    td.bg-blaze-orange
                        //.schedule-img
                          img(src="/build/assets/images/schedule.jpg")
                        .title
                            h2 Now
                            .time
                                span 16:30
                                span  -
                                span 17:30
                            p.topic Speech recognition in Armenian language
                            .creator
                                span by &nbsp;
                                span Bill Murray
                tr
                    td.bg-feldgrau
                        //.schedule-img
                          img(src="/build/assets/images/schedule.jpg")
                        .title
                            h2 Now
                            .time
                                span 16:30
                                span  -
                                span 17:30
                            p.topic Speech recognition in Armenian language
                            .creator
                                span by &nbsp;
                                span Bill Murray
                    td.bg-feldgrau
                        //.schedule-img
                          img(src="/build/assets/images/schedule.jpg")
                        .title
                            h2 Now
                            .time
                                span 16:30
                                span  -
                                span 17:30
                            p.topic Speech recognition in Armenian language
                            .creator
                                span by &nbsp;
                                span Bill Murray
                    td.bg-feldgrau
                        //.schedule-img
                          img(src="/build/assets/images/schedule.jpg")
                        .title
                            h2 Now
                            .time
                                span 16:30
                                span  -
                                span 17:30
                            p.topic Speech recognition in Armenian language
                            .creator
                                span by &nbsp;
                                span Bill Murray
                    td.bg-feldgrau
                        //.schedule-img
                          img(src="/build/assets/images/schedule.jpg")
                        .title
                            h2 Now
                            .time
                                span 16:30
                                span  -
                                span 17:30
                            p.topic Speech recognition in Armenian language
                            .creator
                                span by &nbsp;
                                span Bill Murray
                    td.bg-feldgrau
                        .schedule-img
                            img(src="/build/assets/images/schedule.jpg")
                        .title
                            h2 Now
                            .time
                                span 16:30
                                span  -
                                span 17:30
                            p.topic Speech recognition in Armenian language
                            .creator
                                span by &nbsp;
                                span Bill Murray
        .to-full-schedule
            a(href='#') to full schedule >
.clearfix
.container-fluid.register
    .container.container-fixed
        h1.pull-left(translate='home.regForPartic', ng-class='{"reg-title-hy": currentLang == "hy"}')
        a.btn.btn-default.btn-orange.pull-right(href='https://www.eventbrite.co.uk/e/barcamp-yerevan-2015-tickets-16660816952', target='_blank', translate='home.register')
.clearfix
//section.special-guests
    .container.container-fixed
        h1(translate='home.specialGuests')
        .row
            ul
                .col-md-4.col-xs-4(ng-repeat="speaker in speakers")
                    li
                        img(ng-src="{{speaker.photo}}")
                        h3 {{speaker[currentLang].name}}
                        p
                            strong {{speaker[currentLang].topic}}
                        .user-hover
                            .social-icons
                                a(ng-if="speaker.socialnetworks.twitter", ng-href="{{speaker.socialnetworks.twitter}}", target='_blank' )
                                    i.fa.fa-twitter
                                a(ng-if="speaker.socialnetworks.facbook" ng-href="{{speaker.socialnetworks.facbook}}", target='_blank')
                                    i.fa.fa-facebook-official
                                a(ng-if="speaker.socialnetworks.linkedin" ng-href="{{speaker.socialnetworks.linkedin}}", target='_blank')
                                    i.fa.fa-linkedin-square
                                a(ng-if="speaker.socialnetworks.instagram" ng-href="{{speaker.socialnetworks.instagram}}", target='_blank')
                                    i.fa.fa-instagram
section.special-guests
  .container.container-fixed
    h1(translate='home.specialGuests')
    .row
      ul
        .col-md-4.col-xs-4
          li
            img(src='/build/assets/images/arevik.png')
            h3 Arevik Harutyunyan
            p
              strong UI/UX Workshop
            .user-hover
              .social-icons
                //a(href='#' )
                  i.fa.fa-twitter
                a(href='https://www.facebook.com/arevharutyunyan', target='_blank')
                  i.fa.fa-facebook-official
                a(href='https://www.linkedin.com/pub/arevik-harutyunyan/41/b61/681', target='_blank')
                  i.fa.fa-linkedin-square
                //a(href='#')
                  i.fa.fa-instagram

        .col-md-4.col-xs-4
          li
            img(src='/build/assets/images/vahe.png')
            h3 Vahe Evoyan
            p
              strong The new HTTP/2 protocol
            .user-hover
              .social-icons
                a(href='https://twitter.com/evoyan', target='_blank' )
                  i.fa.fa-twitter
                a(href='https://www.facebook.com/vahe.evoyan', target='_blank')
                  i.fa.fa-facebook-official
                a(href='https://www.linkedin.com/in/evoyan', target='_blank')
                  i.fa.fa-linkedin-square
                a(href='http://instagram.com/vahe_evoyan', target='_blank')
                  i.fa.fa-instagram
        .col-md-4.col-xs-4
          li
            img(src='/build/assets/images/harut.png')
            h3 Harut Martirosyan
            p
              strong Kafka/Spark/HDFS
            .user-hover
              .social-icons
                a(href='https://twitter.com/inteloid', target='_blank')
                  i.fa.fa-twitter
                a(href='https://www.facebook.com/inteloid', target='_blank')
                  i.fa.fa-facebook-official
                a(href='https://www.linkedin.com/in/harutyun', target='_blank')
                  i.fa.fa-linkedin-square
                a(href='https://instagram.com/inteloid', target='_blank')
                  i.fa.fa-instagram
        .col-md-4.col-xs-4
          li
            img(src='/build/assets/images/samvel.png')
            h3 Samvel Martirosyan
            p
              strong Data Verification
            .user-hover
              .social-icons
                a(href='https://twitter.com/Kornelij', target='_blank')
                  i.fa.fa-twitter
                a(href='https://www.facebook.com/samvel', target='_blank')
                  i.fa.fa-facebook-official
                a(href='https://instagram.com/kornelij/', target='_blank')
                  i.fa.fa-instagram
                a(href='https://instagram.com/kornelij/', target='_blank')
                  i.fa.fa-linkedin-square
        .col-md-4.col-xs-4
          li
            img(src='/build/assets/images/alexandr.png')
            h3 Alexandr Polivanov, Meduza.io
            //p
              strong Designer &nbsp;
            .user-hover
              .social-icons
                //a(href='#')
                  i.fa.fa-twitter
                a(href='https://www.facebook.com/alexander.polivanov', target='_blank')
                  i.fa.fa-facebook-official
                a(href='https://instagram.com/certonontroppo', target='_blank')
                  i.fa.fa-instagram
        .col-md-4.col-xs-4
          li
            img(src='/build/assets/images/zaven.png')
            h3 Zaven Navoyan
            p
              strong Speech recognition in Armenian language
            //hr
            //.address
              a.strong(href='#') http://vladimirkudinov.com
              span.strong @stSilent
            .user-hover
              .social-icons
                a(href='https://twitter.com/ZNavoyan', target='_blank')
                  i.fa.fa-twitter
                a(href='https://www.facebook.com/zaven.navoyan', target='_blank')
                  i.fa.fa-facebook-official
                a(href='https://www.linkedin.com/in/zavennavoyan', target='_blank')
                  i.fa.fa-linkedin-square
        .col-md-4.col-xs-4
          li
            img(src='/build/assets/images/ruben.png')
            h3 Ruben Manukyan
            p
              strong Linux Container/Docker
            //hr
            //.address
              a.strong(href='#') http://vladimirkudinov.com
              span.strong @stSilent
            .user-hover
              .social-icons
                a(href='https://www.facebook.com/hett.mett?fref=ts', target='_blank')
                  i.fa.fa-facebook-official
        .col-md-4.col-xs-4
          li
            img(src='/build/assets/images/vladimir.png')
            h3 Vladimir Poghosyan
            p
              strong Python for Web Development
            .user-hover
              .social-icons
                a(href='https://www.facebook.com/vladimir.poghosyan.3?fref=ts', target='_blank')
                  i.fa.fa-facebook-official
        .col-md-4.col-xs-4
          li
            img(src='/build/assets/images/sedrakmkr.png')
            h3 Sedrak Mkrtchyan
            p
              strong Infographics and data visualisation
            .user-hover
              .social-icons
                a(href='https://twitter.com/517design', target='_blank')
                  i.fa.fa-twitter
                a(href='https://www.facebook.com/517design', target='_blank')
                  i.fa.fa-facebook-official
                a(href='https://www.linkedin.com/in/sedrakmkrtchyan', target='_blank')
                  i.fa.fa-linkedin-square
                a(href='https://instagram.com/517design/', target='_blank')
                    i.fa.fa-instagram

section.contact-with-us
    .contacts-bg
        .container.container-fixed
            .row
                .col-md-6.col-xs-6
                    .get-in-touch
                        h2(translate='home.getInTouchWithUs')
                        P(translate='home.address')
                        a(href='tel: +374 95 391024')
                        //a(href='tel:+1 347 523 34 90')
                          i.fa.fa-phone
                          span +1 347 523 34 90
                        a(href='mailto:mr.madbyte@gmail.com')
                            i.fa.fa-envelope
                            span barista@barcamp.am
                .col-md-offset-6.col-xs-offset-6
        .map-canvas
            map(center='40.1933398, 44.50441360000002', zoom='15')
                marker(position='40.1933398, 44.50441360000002')
                //info-window(position='40.1933398, 44.50441360000002', visible='true')
                  span 40 Marshal Baghramyan Ave, Yerevan 0019, Armenia





.clearfix
section.special-guests.sponsors
    .container.container-fixed
        h1(translate='home.sponsors')
        .row
            ul
                .col-md-4.col-xs-4
                    li
                        a.logo(href='http://ucom.am', target='_blank')
                            img(src='/build/assets/images/ucom.jpg')
                        hr
                        h3 UCom
                        //p
                          strong Designer &nbsp;
                          | who makes easy to change and easy to create new elements
                        .address
                            a.strong(href='http://ucom.am', target='_blank') http://ucom.am
                            //span.strong @stSilent
                        //.user-hover
                          .social-icons
                            a(href='#')
                              i.fa.fa-twitter
                            a(href='#')
                              i.fa.fa-facebook-official
                            a(href='#')
                              i.fa.fa-instagram
                .col-md-4.col-xs-4
                    li
                        a.logo(href='http://www.mediainitiatives.am', target='_blank')
                            img(src='/build/assets/images/mediainitiative.jpg')
                        hr
                        h3 Media Initiatives Center
                        .address
                            a.strong(href='http://www.mediainitiatives.am', target='_blank') http://www.mediainitiatives.am
                .col-md-4.col-xs-4
                    li
                        a.logo(href='http://underwaterapps.com', target='_blank')
                            img(src='/build/assets/images/underwater.jpg')
                        hr
                        h3 Underwater apps
                        .address
                            a.strong(href='http://underwaterapps.com', target='_blank') http://underwaterapps.com

                .col-md-4.col-xs-4
                    li
                        a.logo(href='http://www.simplytechnologies.net', target='_blank')
                            img(src='/build/assets/images/simply.jpg')
                        hr
                        h3 Simply Technologies
                        .address
                            a.strong(href='http://www.simplytechnologies.net', target='_blank') http://www.simplytechnologies.net
                .col-md-4.col-xs-4
                    li
                        a.logo(href='http://bdb.am', target='_blank')
                            img(src='/build/assets/images/bdb.jpg')
                        hr
                        h3 BDB
                        .address
                            a.strong(href='http://bdb.am', target='_blank') http://bdb.am
                .col-md-4.col-xs-4
                    li
                        a.logo(href='http://picsart.com', target='_blank')
                            img(src='/build/assets/images/pics_art.jpg')
                        hr
                        h3 PicsArt
                        .address
                            a.strong(href='http://picsart.com', target='_blank') http://picsart.com

                .col-md-4.col-xs-4
                    li
                        a.logo(href='http://www.workfront.com', target='_blank')
                            img(src='/build/assets/images/workfront.jpg')
                        hr
                        h3 Workfront
                        .address
                            a.strong(href='http://www.workfront.com', target='_blank') http://www.workfront.com
                .col-md-4.col-xs-4
                  li
                    a.logo(href='http://www.aua.am', target='_blank')
                      img(src='/build/assets/images/aua.jpg')
                    hr
                    h3 American University of Armenia
                    .address
                      a.strong(href='http://www.aua.am', target='_blank') http://www.aua.am
                .col-md-4.col-xs-4
                  li
                    a.logo(href='http://www.sflpro.com', target='_blank')
                      img(src='/build/assets/images/sfl.jpg')
                    hr
                    h3 SFL
                    .address
                      a.strong(href='http://www.sflpro.com', target='_blank') http://www.sflpro.com

