.main-content
  nav.navbar.navbar-static-top
    .container.container-fixed
        ul.nav.navbar-nav.social-icons
          li
            a(href='#')
              i.fa.fa-twitter
          li
            a(href='#')
              i.fa.fa-facebook-official
          li
            a(href='#')
              i.fa.fa-instagram
        ul.nav.navbar-nav.lang
          li
            a(href='#') eng
          li
            a.active(href='#') arm
        ul.nav.navbar-nav.navbar-right.navigation
          li
            a.active(href='#') home
          li
            a(href='#') work
          li
            a(href='#') blog
          li
            a(href='#') contact
  .clearfix
  .main-logo
    .container.container-fixed
      .row
        .col-md-6.col-xs-6
          h2 We’ve created the product that will help your startup to look even better.
          h1 45 days to go
        .col-md-offset-6.col-xs-offset-6
  .container-fluid.register
    .container.container-fixed
      h1.pull-left Register for Participation
      a.btn.btn-default.btn-orange.pull-right(href='https://www.eventbrite.co.uk/e/barcamp-yerevan-2015-tickets-16660816952') Register
  .clearfix
  .container.container-fixed.special-guests
    h1 Special guests
    .row
      ul
        .col-md-4.col-xs-4
          li
            img(src='/build/assets/images/img-1.png')
            h3 Vladimir Kudinov
            p
              strong Designer &nbsp;
              | who makes easy to change and easy to create new elements
            hr
            .address
              a.strong(href='#') http://vladimirkudinov.com
              span.strong @stSilent
            .user-hover
              .social-icons
                a(href='#')
                  i.fa.fa-twitter
                a(href='#')
                  i.fa.fa-facebook-official
                a(href='#')
                  i.fa.fa-instagram
        .col-md-4.col-xs-4
          li
            img(src='/build/assets/images/img-2.png')
            h3 Sergey Shmidt
            p
              strong Designer &nbsp;
              | who makes easy to change and easy to create new elements
            hr
            .address
              a.strong(href='#') http://vladimirkudinov.com
              span.strong @stSilent
            .user-hover
              .social-icons
                a(href='#')
                  i.fa.fa-twitter
                a(href='#')
                  i.fa.fa-facebook-official
                a(href='#')
                  i.fa.fa-instagram
        .col-md-4.col-xs-4
          li
            img(src='/build/assets/images/img-3.png')
            h3 Edvard Khondkaryan
            p
              strong Designer &nbsp;
              | who makes easy to change and easy to create new elements
            hr
            .address
              a.strong(href='#') http://vladimirkudinov.com
              span.strong @stSilent
            .user-hover
              .social-icons
                a(href='#')
                  i.fa.fa-twitter
                a(href='#')
                  i.fa.fa-facebook-official
                a(href='#')
                  i.fa.fa-instagram
        .col-md-4.col-xs-4
          li
            img(src='/build/assets/images/img-1.png')
            h3 Vladimir Kudinov
            p
              strong Designer &nbsp;
              | who makes easy to change and easy to create new elements
            hr
            .address
              a.strong(href='#') http://vladimirkudinov.com
              span.strong @stSilent
            .user-hover
              .social-icons
                a(href='#')
                  i.fa.fa-twitter
                a(href='#')
                  i.fa.fa-facebook-official
                a(href='#')
                  i.fa.fa-instagram
        .col-md-4.col-xs-4
          li
            img(src='/build/assets/images/img-2.png')
            h3 Sergey Shmidt
            p
              strong Designer &nbsp;
              | who makes easy to change and easy to create new elements
            hr
            .address
              a.strong(href='#') http://vladimirkudinov.com
              span.strong @stSilent
            .user-hover
              .social-icons
                a(href='#')
                  i.fa.fa-twitter
                a(href='#')
                  i.fa.fa-facebook-official
                a(href='#')
                  i.fa.fa-instagram
        .col-md-4.col-xs-4
          li
            img(src='/build/assets/images/img-3.png')
            h3 Edvard Khondkaryan
            p
              strong Designer &nbsp;
              | who makes easy to change and easy to create new elements
            hr
            .address
              a.strong(href='#') http://vladimirkudinov.com
              span.strong @stSilent
            .user-hover
              .social-icons
                a(href='#')
                  i.fa.fa-twitter
                a(href='#')
                  i.fa.fa-facebook-official
                a(href='#')
                  i.fa.fa-instagram
  .push
footer
  .container.container-fixed
    .row
      .col-md-6.col-xs-6
        .get-in-touch
          h2 Get in touch with us
          P As a Harvard professor, he was one of the first to explore the relationship in equilibrium.
          a(href='tel:+1 347 523 34 90')
            i.fa.fa-phone
            span +1 347 523 34 90
          a(href='mailto:mr.madbyte@gmail.com')
            i.fa.fa-envelope
            span mr.madbyte@gmail.com
          img.map(src='/build/assets/images/map.png')
      .col-md-offset-6.col-xs-offset-6

