section.main-menu.build(ng-hide='daysLeft <= 0')
    .container.container-fixed
        .row
            .col-md-10.col-md-push-1.col-xs-10.col-xs-push-1
                h2(translate='home.mostWantedEvent').width-auto-xs
                h1(ng-cloak, ng-hide='daysLeft <= 0', translate='home.dayToGo' translate-values="{value: daysLeft}")
            .col-md-offset-6.col-xs-offset-6
.clearfix

section.schedule(ng-show='showHomeSchedule')
    .container.container-fixed
        .row
            .col-md-12
                h1(translate='home.scheduleTitle')
    .container.schedule-container.table-responsive
        table.table
            thead
                tr
                    th(ng-repeat='room in rooms') {{room}}
            tbody
                tr(ng-repeat='shcedulesRow in shcedulesRows', ng-init='rowIndex = $index')
                    td(ng-repeat='shcedule in shcedulesRow track by $index', ng-class='{"bg-cream": rowIndex === 0, "bg-orange": rowIndex === 1, "bg-blue": rowIndex === 2}')
                        //.schedule-img(ng-show='shcedule')
                            img(ng-src="{{shcedule.bg_image_url}}")
                        .title
                            div(ng-show='shcedule')
                                h2(translate='home.now', ng-show='rowIndex === 0')
                                h2(translate='home.next', ng-hide='rowIndex === 0')
                                .time
                                    span {{shcedule.time_from.date | amDateFormat: 'HH:mm'}}
                                    span  -
                                    span {{shcedule.time_to.date | amDateFormat: 'HH:mm'}}
                                p.topic {{shcedule[currentLang].topic}}
                                .creator
                                    //span(translate='home.by')
                                    span {{shcedule[currentLang].speaker}}
                            div(ng-show='!shcedule')
                                h2(translate='home.noSession')

        .to-full-schedule
            a(ui-sref='timetable', translate='home.toFullSchedule')
.clearfix
.container-fluid.register
    .container.container-fixed
        .row
            .col-lg-8.col-sm-9.hidden-xs
                h1.pull-left(translate='home.regForPartic', ng-class='{"reg-title-hy": currentLang == "hy"}').hidden-xs
            .col-lg-4.col-sm-3.col-xs-12.text-center-xs
                a.btn.btn-default.btn-orange.pull-right.btn-registration(href='http://www.eventbrite.co.uk/e/barcamp-yerevan-2016-tickets-24108420936', target='_blank', translate='home.register')
.clearfix
//section.special-guests
    .container.container-fixed
        h1(translate='home.specialGuests')
        .row
            ul
                .col-md-4.col-xs-4(ng-repeat="speaker in speakers")
                    li
                        img(ng-src="{{speaker.photo.split('.').indexOf('png') !== -1 || speaker.photo.split('.').indexOf('jpg') !== -1 ? speaker.photo : '/build/assets/images/user-avatar.jpg'}}")
                        h3 {{speaker[currentLang].name}}
                        p
                            strong {{speaker[currentLang].topic}}
                        .user-hover
                            .social-icons
                                a(ng-if="speaker.socialnetworks.twitter", ng-href="{{speaker.socialnetworks.twitter}}", target='_blank' )
                                    i.fa.fa-twitter
                                a(ng-if="speaker.socialnetworks.facbook" ng-href="{{speaker.socialnetworks.facbook}}", target='_blank')
                                    i.fa.fa-facebook-official
                                a(ng-if="speaker.socialnetworks.linkedin" ng-href="{{speaker.socialnetworks.linkedin}}", target='_blank')
                                    i.fa.fa-linkedin-square
                                a(ng-if="speaker.socialnetworks.instagram" ng-href="{{speaker.socialnetworks.instagram}}", target='_blank')
                                    i.fa.fa-instagram

.clearfix
//    sponsors
section.special-guests.sponsors
    .container.container-fixed
        h1(translate='home.generalSponsor').text-center-xs
        .row
            .col-md-4.col-md-push-4.col-sm-6.col-sm-push-3.col-xs-12
                li.text-center-xs.width-auto-xs
                    a.logo(href='http://ucom.am', target='_blank')
                        img(src='/build/assets/images/ucom.png')
                    hr
                    h3 UCom
                    //p
                      strong Designer &nbsp;
                      | who makes easy to change and easy to create new elements
                    .address
                        a.strong(href='http://ucom.am', target='_blank') http://ucom.am
                        //span.strong @stSilent
                    //.user-hover
                      .social-icons
                        a(href='#')
                          i.fa.fa-twitter
                        a(href='#')
                          i.fa.fa-facebook-official
                        a(href='#')
                          i.fa.fa-instagram
        h1(translate="home.sponsors").text-center-xs
        .row
            .col-md-4.col-sm-6.col-xs-12
                li.text-center-xs.width-auto-xs
                    a.logo(href='http://www.workfront.com', target='_blank')
                        img(src='/build/assets/images/workfront.png')
                    hr
                    h3 Workfront
                    .address
                        a.strong(href='http://www.workfront.com', target='_blank') http://www.workfront.com
            .col-md-4.col-sm-6.col-xs-12
                li.text-center-xs.width-auto-xs
                    a.logo(href='http://www.sflpro.com', target='_blank')
                        img(src='/build/assets/images/logos/sfl.png')
                    hr
                    h3 SFL
                    .address
                        a.strong(href='http://www.sflpro.com', target='_blank') http://www.sflpro.com


            .col-md-4.col-sm-6.col-xs-12
                .row
                    .col-md-6
                        li.text-center-xs.width-auto-xs
                            a.logo(href="https://www.betconstruct.com/", target="_blank")
                                img(src="/build/assets/images/logos/betconstruct.png").width-60-p
                            hr
                            h3 BetConstruct
                            .address
                                a.strong.font-size-13-md.font-size-13-sm(href="https://www.betconstruct.com/", target="_blank") https://www.betconstruct.com

                    .col-md-5
                        li.text-center-xs.width-auto-xs
                            a.logo(href="http://www.vivaronews.am", target="_blank")
                                img(src="/build/assets/images/logos/vivaronews.png").width-50-p
                            hr
                            h3 Vivaro News
                            .address
                                a.strong.font-size-13-md.font-size-13-sm(href='http://www.vivaronews.am', target='_blank') http://www.vivaronews.am
            .col-md-4.col-sm-6.col-xs-12
                li.text-center-xs.width-auto-xs
                    a.logo(href="http://www.synisys.com", target="_blank")
                        img(src="/build/assets/images/logos/synergy.png").width-70-p
                    hr
                    h3 Synergy International System
                    .address
                        a.strong(href='http://www.synisys.com', target='_blank') http://www.synisys.com

            .col-md-4.col-sm-6.col-xs-12
                li.text-center-xs.width-auto-xs
                    a.logo(href='http://picsart.com', target='_blank')
                        img(src='/build/assets/images/logos/PicsArt.png').width-80-p
                    hr
                    h3 PicsArt
                    .address
                        a.strong(href='http://picsart.com', target='_blank') http://picsart.com


            .col-md-4.col-sm-6.col-xs-12
                li.text-center-xs.width-auto-xs
                    a.logo(href='http://www.simplytechnologies.net', target='_blank')
                        img(src='/build/assets/images/simply.png')
                    hr
                    h3 Simply Technologies
                    .address
                        a.strong(href='http://www.simplytechnologies.net', target='_blank') http://www.simplytechnologies.net


        h1(translate="home.partners").text-center-xs
        .row
            .col-md-4.col-sm-6.col-xs-12
                li.text-center-xs.width-auto-xs
                    a.logo(href='http://www.mediainitiatives.am', target='_blank')
                        img(src='/build/assets/images/mediainitiative.png')
                    hr
                    h3 Media Initiatives Center
                    .address
                        a.strong(href='http://www.mediainitiatives.am', target='_blank') http://www.mediainitiatives.am

            .col-md-4.col-sm-6.col-xs-12
                li.text-center-xs.width-auto-xs
                    a.logo(href='http://www.aua.am', target='_blank')
                        img(src='/build/assets/images/logos/aua.png').width-80-p
                    hr
                    h3 American University of Armenia
                    .address
                        a.strong(href='http://www.aua.am', target='_blank') http://www.aua.am

            .col-md-4.col-sm-6.col-xs-12
                li.text-center-xs.width-auto-xs
                    a.logo(href="https://www.facebook.com/TMSBurger")
                        img(src="/build/assets/images/logos/burger.png").width-70-p
                    hr
                    h3 TMS Burger
                    .address
                        a.strong(href='https://www.facebook.com/TMSBurger', target='_blank') https://www.facebook.com/TMSBurger

        h1(translate="home.informationSponsors").text-center-xs
        .row
            .col-md-4.col-sm-6.col-xs-12
                li.text-center-xs.width-auto-xs
                    a.logo(href="http://www.startuparmenia.org", target="_blank")
                        img(src="/build/assets/images/logos/startup_armenia.jpg").width-70-p
                    hr
                    h3 Startup Armenia
                    .address
                        a.strong(href='http://www.startuparmenia.org', target='_blank') http://www.startuparmenia.org

            .col-md-4.col-sm-6.col-xs-12
                li.text-center-xs.width-auto-xs
                    a.logo(href="http://ipmarketing.am", target="_blank")
                        img(src="/build/assets/images/logos/ip.png").width-70-p
                    hr
                    h3 IP Marketing
                    .address
                        a.strong(href='http://ipmarketing.am', target='_blank') http://ipmarketing.am
.clearfix
//    get in touch with us
section.contact-with-us
    .contacts-bg
        .container.container-fixed
            .row
                .col-md-6.col-xs-6
                    .get-in-touch
                        h2(translate='home.getInTouchWithUs')
                        P(translate='home.address')
                        a(href='tel: +374 95 391024')
                        //a(href='tel:+1 347 523 34 90')
                          i.fa.fa-phone
                          span +1 347 523 34 90
                        a(href='mailto:barista@barcamp.am')
                            i.fa.fa-envelope
                            span barista@barcamp.am
                .col-md-offset-6.col-xs-offset-6
        .map-canvas
            map(center='40.1933398, 44.50441360000002', zoom='15')
                marker(position='40.1933398, 44.50441360000002')
                //info-window(position='40.1933398, 44.50441360000002', visible='true')
                  span 40 Marshal Baghramyan Ave, Yerevan 0019, Armenia

