.container.container-fixed
    .row
        .col-lg-12
            .video(translate='livestreams.v1')
        .col-lg-6
            .video(translate='livestreams.v2')
        .col-lg-6
            .video(translate='livestreams.v3')
        .col-lg-6
            .video(translate='livestreams.v4')
        .col-lg-6
            .video(translate='livestreams.v5')
