.container.container-fixed
    .row
        h1.livestream-title.margin-bottom-80 {{ 'home.livestream' | translate | uppercase }}
        .col-xs-12.margin-bottom-80
            .video.video-wrapper(translate='livestreams.v1')
        .col-sm-6.col-xs-12.margin-bottom-80
            .video.video-wrapper(translate='livestreams.v2')
        .col-sm-6.col-xs-12.margin-bottom-80
            .video.video-wrapper(translate='livestreams.v3')
        .col-sm-6.col-xs-12.margin-bottom-80
            .video.video-wrapper(translate='livestreams.v4')
        .col-sm-6.col-xs-12.margin-bottom-80
            .video.video-wrapper(translate='livestreams.v5')
