.modal(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', ng-click='$hide()') &times;
                .modal-title
                    h1 Admin page
                    h3 Schedule filling tool
            .modal-body
                form.form-horizontal(role='form')
                    .form-group
                        label.col-sm-2.control-label(for='topic1') Photo
                        .col-sm-6
                            input#url.form-control.input-lg(type='url', placeholder='Enter image url')
                        .col-sm-4
                            img(src='/build/assets/images/schedule.jpg')

                    .form-group
                        label.col-sm-2.control-label(for='topic1') Topic(Eng)
                        .col-sm-10
                            input#topic1.form-control.input-lg(type='text', placeholder='Enter Topic')
                    .form-group
                        label.col-sm-2.control-label(for='topic2') Topic(Arm)
                        .col-sm-10
                            input#topic2.form-control.input-lg(type='text', placeholder='Enter Topic')
                    .form-group
                        label.col-sm-2.control-label(for='name1') Name(Eng)
                        .col-sm-5
                            input#name1.form-control.input-lg(type='text', placeholder='Name')
                        .col-sm-5
                            input.form-control.input-lg(type='text', placeholder='Surname')
                    .form-group
                        label.col-sm-2.control-label(for='name2') Name(Arm)
                        .col-sm-5
                            input#name2.form-control.input-lg(type='text', placeholder='Name')
                        .col-sm-5
                            input#surname.form-control.input-lg(type='text', placeholder='Surname')
                    .form-group
                        label.col-sm-2.control-label(for='location') Location
                        .col-sm-10
                            input#location.form-control.input-lg(type='text', placeholder='Room, Hall')
                    .form-group
                        label.col-sm-2.control-label(for='date') Date and time
                        .col-sm-4
                            select.input-lg.form-control
                                option Day 1
                                option Day 2
                        .col-sm-3
                            input#date.form-control.input-lg(type='text', placeholder='Start')
                        .col-sm-3
                            input#date.form-control.input-lg(type='text', placeholder='End')


            .modal-footer
                button.btn.btn-default(type='button', ng-click='$hide()') Close
                button.btn.btn-primary(type='button', ng-click='$hide()') Submit
