section.schedule.timetable
  .container.container-fixed
    .row
      .col-md-12.col-xs-12
        h1 Timetable

  .container.timetable-container
    .timetable
      .day
        a.btn.btn-link.selected(href='#') Day 1
          .circle
        a.btn.btn-link(href='#') Day 2
          .circle

      ul.timetable-room
        li time
        li room #204
        li room #205
        li room #206
        li small hall
        li big ball
      .clearfix
      ul.table-time
        li
          span 9-10 AM
        li
          span 10-11 AM
        li
          span 11-12 AM
        li
          span 12-1 PM
        li
          span 1-2 PM
        li
          span 2-3 PM
        li
          span 3-4 PM
        li
          span 4-5 PM
        li
          span 5-6 PM
      ul.room-204
        li

        li

        li

        li

        li.completed(data-animation='am-fade-and-scale', data-placement='center', bs-modal='modal', data-template='/build/views/schedule-modal.html')
          .table-content
            p The power of rebuilding
            .time
              span 11 - 12:30 AM
            .creator
              span by &nbsp;
              span John Doe

        li

        li

        li
        li
        li
      ul.room-205
        li

        li.completed
          .table-content
            p The power of rebuilding
            .time
              span 10 - 11 AM
            .creator
              span by &nbsp;
              span John Doe
        li

        li

        li

        li

        li

        li

        li

        li

      ul.room-206
        li
        li.completed
          .table-content
            p User Onboarding 101 or how to get people to adopt your product
            .time
              span 10 - 11 AM
            .creator
              span by &nbsp;
              span John Doe
        li

        li

        li

        li

        li

        li

        li

        li

      ul.room-small
        li
        li.completed
          .table-content
            p The power of rebuilding
            .time
              span 10 - 12 AM
            .creator
              span by &nbsp;
              span John Doe
        li

        li

        li

        li

        li

        li

        li

        li
      ul.room-big
        li
        li.completed
          .table-content
            p The power of rebuilding
            .time
              span 10 - 11 AM
            .creator
              span by &nbsp;
              span John Doe
        li

        li

        li

        li

        li

        li

        li

        li

      .clearfix
      .empty

